<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Approve work sheet </title>
</head>
<body>
    <h1> Check the details and continue to approve. </h1>
      <form method="POST" action="/approve" enctype="multipart/form-data">
        <div class="container">
            <label for="id"><b>USER ID</b></label>
            <label for="passord"><b>USER PASSWORD</b></label>
            <button type="submit">APPROVE</button>
        </div>
      </form>
</body>
</html>